<div class="settings">
    <h2>Settings</h2>

    <label for="back-btn">Back button</label>
    <input type="range" min="0" max="2" name="back-btn">
    
    <label for="next-btn">Next button</label>
    <input type="range" min="0" max="2" name="next-btn">

    <label for="again-btn">Again button</label>
    <input type="range" min="0" max="2" name="again-btn">

    <label for="basket">Basket</label>
    <input type="range" min="0" max="3" name="basket">

    <label for="parnet">Parnet</label>
    <input type="range" min="0" max="3" name="parnet">

    <label for="statusBar">Status bar</label>
    <input type="checkbox" name="statusBar">
</div>