<div class="settings">
    <h2>Settings</h2>

    <div class="first-label">Progress bar
        <input type="checkbox" name="progressBar" id="progressBarChanger">
    </div>

    <label>Back button
        <input type="range" min="1" max="3" name="back-btn" id="backBtnChanger">
    </label>

    <label>Next button
        <input type="range" min="1" max="3" name="next-btn" id="nextBtnChanger">
    </label>

    <label>Again button
        <input type="range" min="1" max="3" name="again-btn" id="againBtnChanger">
    </label>

    <label>Basket
        <input type="range" min="1" max="3" name="basket" id="basketChanger">
    </label>
    <label>Wallet
        <input type="range" min="1" max="3" name="wallet" id="walletChanger">
    </label>

    <input type="submit" id="submitBtn" value="Save settings">
</div>
