<% layout('layout/pattern') -%>

<link rel="stylesheet" href="/css/developers.css">

<div class="page">
  <%-partial('./partials/leftVerticalMenu')%>
  <div class="right-column">
    <div class="container">
    </div>
  </div>
</div>
