<% layout('layout/pattern') -%>

<link rel="stylesheet" href="/css/developers.css">

<div class="page">
  <%-partial('./partials/leftVerticalMenu')%>
  <div class="right-column">
    <div class="container">
      <div class="block">
        <p class="name">Просто текст</p>
        <div class="photo">
        </div>
        <p class="position">Еще какой-то текст</p>
        <div class="contacts">
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="name">Просто текст</p>
        <div class="photo">
        </div>
        <p class="position">Еще какой-то текст</p>
        <div class="contacts">
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="name">Просто текст</p>
        <div class="photo">
        </div>
        <p class="position">Еще какой-то текст</p>
        <div class="contacts">
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
        </div>
      </div>

      <div class="block">
        <p class="name">Просто текст</p>
        <div class="photo">
        </div>
        <p class="position">Еще какой-то текст</p>
        <div class="contacts">
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
          <div class="contacts__row">
            <div class="logo">
            </div>
            <p class="info">6216123612636</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
