<link rel='stylesheet' href='/css/personalArea.css' />
<link rel='stylesheet' href='/css/developers.css' />

<% layout('layout/pattern') -%>
<% block('title') -%>

<%-partial('./partials/leftVerticalMenu')%>


<!--first flexbox card-->
<div class="flex-item-1">
<div class="flex-item-img" style="background-image: url('\public\systemImages\testImage.png')"><h2>See Details</h2></div>
<div class="text-container">
<div class="flex-1-text">First Card Long Name project.INDD
  </div>
    <div class="flex-1-text-fileSize">12.5MB
  </div>
</div>
<div class="line-break"></div>
  <div class="iconRow">
  <div class="icongroupLabel"><i class="fa fa-heart-o"></i>Favorite
  </div>

        <div class="icongroupLabel"><i class='fa fa-envelope-o'></i>Share
  </div>
    <div class="icongroupLabel"><i class="zmdi zmdi-format-valign-bottom zmdi-hc-lg"></i> Download
  </div>
  </div>
</div>
