  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/normalize.css">
  <script src="/js/auth.js">
  </script>

  <div class="modal">
    <div class="modal__pagination">
      <button type="button" name="button" class="paginationBtn paginationBtn--active" id="signInBtn">Sign In</button>
      <button type="button" name="button" class="paginationBtn" id="signUpBtn">Sign Up</button>
    </div>
    <form class="modal__form" id="signIn" action="/login" method="POST" name="loginForm">
      <label for="login">E-mail</label>
      <input type="email" name="username" value="" required>
      <label for="password">Password</label>
      <input type="password" name="password" value="" required>

      <button type="submit" name="button">Sign In</button>
      <p id="forgotLink">
        Forgot your password?
      </p>
    </form>
    <!--  -->
    <form class="modal__form none" id="restore" action="/forgot_password" method="POST" name="restorePasswordForm">
      <label for="login">E-mail</label> 
      <input type="email" name="email" value="" required>

      <button type="submit" name="button">Restore</button>
    </form>
    <!--  -->
    <form class="modal__form none" id="signUp" action="/signUp" method="POST" name="signupForm">
      <label for="login">E-mail</label>
      <input type="email" name="username" value="" required>
      <label for="password">Password</label>
      <input type="password" name="password" value="" required>

      <button type="submit" name="button">Sign up</button>
    </form>
  </div>
