<link rel='stylesheet' href='/css/personalArea.css' />

<% layout('layout/pattern') -%>
<% block('title') -%>

<section id="sidebar">
  <div class="white-label">

  </div>
  <div id="sidebar-nav">
    <ul>
      <li class="active"><a href="#">Personal Area</a></li>
      <li><a href="#">My Website</a></li>
      <li><a href="/signout">Logout</a></li>
    </ul>
  </div>
</section>

<section id="content">
  <div class="content">
    <div class="content-header">
      <h1>Welcome</h1>
      <p><%=user.email%></p>
    </div>
    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>Widget Header</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
      </div>
    </div>
    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>Widget Header</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
      </div>
    </div>
    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>Widget Header</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
      </div>
    </div>
      <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>Widget Header</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
      </div>
    </div>
  </div>


    <form action="/addNewStudent" method="POST" name="addNewStudentForm">
         <input type="text" name="username" placeholder="Enter name"/>
         <input type="password" name="password" placeholder="Create password"/>
         <button type="submit" class="btn add">Add</button>
    </form>

</section>
