<link rel='stylesheet' href='/css/personalArea.css' />

<% layout('layout/pattern') -%>

<div class="page">
  <%-partial('./partials/leftVerticalMenu')%>
  <div class="right-column">
    <div class="container">
      <% if(user.access_level == 3) { %>
      <%-partial('../partials/publicProfile/coach')%>
         <% }  else if(user.access_level == 2) { %>
        <%-partial('../partials/publicProfile/admin')%>
        <% }  else if(user.access_level == 1) { %>
       <%-partial('./partials/personalArea/superAdmin')%>
      <% } %>
    </div>
  </div>
</div>

<script src="/js/confirmDelete.js"></script>
