<link rel='stylesheet' href='/css/profileStudent.css' />

<% layout('layout/pattern') -%>
<% block('title') -%>

<section id="sidebar">
  <div class="white-label">

  </div>
  <div id="sidebar-nav">
    <ul>
      <li class="active"><a href="#">Personal Area</a></li>
      <li><a href="#">My Website</a></li>
      <li><a href="/signout">Logout</a></li>
    </ul>
  </div>
</section>

<section id="content">
  <div class="content">
    <div class="content-header">
      <h1>Welcome</h1>
      <p><%=user.email%></p>
    </div>

    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>My Students</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">

      </div>
    </div>
  </div>

</section>
