<link rel='stylesheet' href='/css/profileStudent.css' />

<% layout('layout/pattern') -%>
<% block('title') -%>

<section id="sidebar">
  <div class="white-label">

  </div>
  <div id="sidebar-nav">
    <ul>
      <li><a href="/personalArea">Personal Area</a></li>
      <li><a href="http://app-ait.herokuapp.com/" target="_blank">Old version</a></li>
      <li><a href="/signout">Logout</a></li>
    </ul>
  </div>
</section>

<section id="content">
  <div class="content">
    <div class="content-header">
      <h1>Profile student</h1>
      <p><%=name%></p>
    </div>

    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>About student</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">


      <td aria-label="Test settings"><a href="/test_settings/id<%=id%>">Start</a></td>


      </div>
    </div>

    <div class="widget-box sample-widget">
      <div class="widget-header">
        <h2>Student Application</h2>
        <i class="fa fa-cog"></i>
      </div>
      <div class="widget-content">

      </div>
    </div>
  </div>

</section>
