<form action="/reset_password" method="POST" >
    <label for="login">New password</label> 
    <input type="password" name="newPassword" required>
    <label for="login">Confirm password</label> 
    <input type="password" name="verifyPassword" required>
    <input type="hidden" name="token" value="f3155edea55f4d7910e8be12f924f3e0008f86e4" required>

    <button type="submit" name="button">Reset Password</button>
  </form>