<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/normalize.css">

<div class="modal">
  <form action="/reset_password" method="POST" class="modal__form">
    <label for="newPassword">New password</label>
    <input type="password" name="newPassword" required>
    <label for="verifyPassword">Confirm password</label>
    <input type="password" name="verifyPassword" required>
    <input type="hidden" name="token" value="f3155edea55f4d7910e8be12f924f3e0008f86e4" required>

    <button type="submit" name="button">Reset Password</button>
  </form>
</div>
