<form action="/reset_password" method="POST" >
    <label for="login">New password</label> 
    <input type="password" name="newPassword" required>
    <label for="login">Confirm password</label> 
    <input type="password" name="verifyPassword" required>
    <input type="hidden" name="token" value="831c3bf509cd2a3a0442561d31f34f4799f46634" required>

    <button type="submit" name="button">Reset Password</button>
  </form>