
#collectionMoney .game .game-header {
    justify-content: flex-end !important;
}

#collectionMoney .progressBar div {
    width: 25%;
}

#selectionGoods .progressBar div {
    width: 50%;
}

#paymentPurchase .progressBar div {
    width: 75%;
}

#takeChangee .againBtn {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

#takeChangee .progressBar div {
    width: 100%;
}
