<style>
  .block {
    height: 50px;
    position: relative;
  }
  .block .link {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 5px;
    margin: 0 auto 10px auto;
    background-color: rgb(42, 95, 129);
    color: white;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
</style>

<div class="block">
  <a class="link" href="https://configuration-module.herokuapp.com/editors"
    >Application Editors</a
  >
</div>
