<link rel='stylesheet' href='/css/applications/moneygame/collectionMoney.css' />
<link rel='stylesheet' href='/css/applications/moneygame/main.css' />

<% layout('../../layout/pattern') -%>
    <%-partial('../../partials/leftVerticalMenu')%>

        <section id="content">
            <div class="content">
                <div class="content-header">
                    <h1>Customize MoneyGame</h1>
                </div>
                <div class="container">
                    <div class="pagination">
                        <button class="a-active paginationBtn" id="collectionMoneyBtn">Collection Money</button>
                        <button class="paginationBtn" id="selectionGoodsBtn">Selection Goods</button>
                        <button class="paginationBtn" id="paymentPurchaseBtn">Payment Purchase</button>
                        <button class="paginationBtn" id="takeChangeeBtn">Take Changee</button>
                    </div>
                    <%-partial('./partials/settings')%>
                        <div class="game" id="collectionMoney">
                            <div class="game-header">
                              <div class="nav-btn backBtn" title="Back Button" src="/applications/money_game/backBtn/1.png"></div>
                              <div class="progressBar" title="Progress Bar"><div></div></div>
                              <img class="nav-btn nextBtn" title="Next Button" src="/applications/money_game/nextBtn/1.png">
                              <img class="nav-btn againBtn none" src="/applications/money_game/againBtn/1.png">
                            </div>
                            <div class="main">
                                <div class="row">
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1cents.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2cents.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5cents.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10cent.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20cent.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50cent.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1euro.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5euro.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10euro.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20euro.png"></div>
                                </div>
                                <div class="row">
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50euro.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/100euro.png"></div>
                                    <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/200euro.png"></div>
                                </div>
                            </div>
                            <div class="game-footer">
                                <img class="wallet" title="Wallet" src="/applications/money_game/wallet/1.png">
                                <img class="basket none" src="/applications/money_game/basket/1.png">
                            </div>
                        </div>

                        <!-- --------------------------------- -->

                        <div class="game" id="selectionGoods">
                            <div class="game-header">
                                <img class="nav-btn backBtn" title="Back Button" src="/applications/money_game/backBtn/1.png">
                                <div class="progressBar" title="Progress Bar"><div></div></div>
                                <img class="nav-btn nextBtn" title="Next Button" src="/applications/money_game/nextBtn/1.png">
                                <img class="nav-btn againBtn none" src="/applications/money_game/againBtn/1.png">
                            </div>
                            <div class="main">
                              <div class="main">
                                  <div class="row">
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1cents.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2cents.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5cents.png"></div>
                                  </div>
                                  <div class="row">
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10cent.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20cent.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50cent.png"></div>
                                  </div>
                                  <div class="row">
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1euro.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                  </div>
                                  <div class="row hidden">
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5euro.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10euro.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20euro.png"></div>
                                  </div>
                                  <div class="row hidden">
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50euro.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/100euro.png"></div>
                                      <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/200euro.png"></div>
                                  </div>
                              </div>
                            </div>
                            <div class="game-footer">
                                <img class="basket" title="Basket" src="/applications/money_game/basket/1.png"></div>
                                <img class="wallet none" src="/applications/money_game/wallet/1.png">
                            </div>

                            <!-- --------------------------------- -->

                            <div class="game" id="paymentPurchase">
                                <div class="game-header">
                                    <img class="nav-btn backBtn" title="Back Button" src="/applications/money_game/backBtn/1.png">
                                    <div class="progressBar" title="Progress Bar"><div></div></div>
                                    <img class="nav-btn nextBtn" title="Next Button" src="/applications/money_game/nextBtn/1.png">
                                    <img class="nav-btn againBtn none" src="/applications/money_game/againBtn/1.png">
                                </div>
                                <div class="main">
                                    <div class="row">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1cents.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2cents.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5cents.png"></div>
                                    </div>
                                    <div class="row">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10cent.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20cent.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50cent.png"></div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20euro.png"></div>
                                    </div>
                                    <div class="row hidden">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/100euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/200euro.png"></div>
                                    </div>
                                </div>
                                <div class="game-footer">
                                    <img class="wallet" title="Wallet" src="/applications/money_game/wallet/1.png">
                                    <img class="basket none" src="/applications/money_game/basket/1.png">
                                </div>
                            </div>

                            <!-- --------------------------------- -->

                            <div class="game" id="takeChangee">
                                <div class="game-header">
                                    <img class="nav-btn backBtn" title="Back Button" src="/applications/money_game/backBtn/1.png">
                                    <div class="progressBar" title="Progress Bar"><div></div></div>
                                    <img class="nav-btn nextBtn none" title="Next Button">
                                    <img class="nav-btn againBtn" title="Again Button">
                                </div>
                                <div class="main">
                                    <div class="row">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1cents.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2cents.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5cents.png"></div>
                                    </div>
                                    <div class="row">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10cent.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20cent.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50cent.png"></div>
                                    </div>
                                    <div class="row">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/1euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/2euro.png"></div>
                                    </div>
                                    <div class="row">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/5euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/10euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/20euro.png"></div>
                                    </div>
                                    <div class="row">
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/50euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/100euro.png"></div>
                                        <div class="game-block"><img class="currencyImage" src="/applications/money_game/money/200euro.png"></div>
                                    </div>
                                </div>
                                <div class="game-footer">
                                    <img class="wallet" title="Wallet" src="/applications/money_game/wallet/1.png">
                                    <img class="basket none" src="/applications/money_game/basket/1.png"></div>
                                </div>

                        </div>
                </div>
        </section>


        <%-partial('./partials/settingsLogic')%>
