<link rel='stylesheet' href='/css/applications/moneygame/customizeMoneyGame.css' />

<% layout('../../layout/pattern') -%>
<%-partial('../../partials/leftVerticalMenu')%>

<section id="content">
  <div class="content">
    <div class="content-header">
      <h1>Customize MoneyGame</h1>

    </div>


</div>
</section>
