@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');

@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
/*columns need to be replaced in AEM*/


 .flex-item-1 {
   margin:10px;
   min-width: 305px;
   max-width:280px;
  height: 310px;
   background-color:#fff; /*@Optum__white*/
   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
   float:left;

}
.flex-item-img{
  height:190px;
  width:100%;
  /*background:url("https://www.optum.com/content/dam/optum3/optum/en/resources/videos-podcasts/Optum_Data_Analytics_AG_Bill_QSFF0036000H_VP.mp4/jcr:content/renditions/cq5dam.thumbnail.704.405.png");
*/
 background-size: cover;
  transition:300ms;
  -webkit-transition:300ms;
}


.flex-item-img h2{
  font-size:1.4rem;
  margin:auto;
  line-height:12rem;
  text-transform:uppercase;
  letter-spacing:5px;
  font-family:Lato;
  font-weight:100;
  color:#fff;/*@Optum__white*/
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
  opacity:0;
  text-align:center;
  margin-top:0px;
  cursor:zoom-in;
  transition: opacity .55s ease;
  -webkit-transition:.55s ease;

}

.flex-item-img h2:hover {
  transition:.3s ease;
  -webkit-transition:.3s ease;
  opacity: 1;

}

.text-container {
      padding:15px 5px 12px 15px;
}
.flex-1-text {
     font-family:Lato;
     font-size:.9rem;
     font-weight:normal;
    color:#434448; /*@optum__gray-darker*/
   }
.flex-1-text-fileSize {
margin-top:5px;
  font-family:Lato;
  font-size:.7rem;
  color:#888B8D; /*@optum__gray*/
}
.line-break{
  margin:0 10px 0 10px;
  width:92%;
  height:1px;
  text-align:center;
  background-color:#D0D0CE; /*@optum__gray-lighter*/
}

.iconRow{
    margin:10px 5px;
  width:95%;
}
.icongroupLabel{
  font-size:.85rem;
  font-family:Lato;
  font-weight:400;
  color:#888B8D; /*@optum__gray*/
  float:left;
  margin: 4px 18px 6px 8px;
  cursor:pointer;
}

.icongroupLabel:hover {
  color:#3a67a6;  /*@optum__navy*/
  transition:300ms;
}

.icongroupLabel:active{
  color:#006CA2;
}
.icongroupLabel p {
  font-size:13px;
  margin-top:3px;
  float:left;
  margin-left:24px;
}


i {
  margin-right:5px;
}



@media screen and (max-width:1024px){

  .flex-item-img h2{
  font-size:1.2rem;
    line-height:9rem;
  }
  .flex-item-1 {
   margin:5px;
    min-width: 220px;
   max-width:220px;
    height: 260px;
   background-color:#fff;  /*@optum__white*/
   box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
     float:left;
}
  .flex-item-img{
  height:150px;
    width:100%;
  }

  .flex-1-text {
     font-family:Lato;
     font-size:.7rem;
     font-weight:normal;
    color:#434448;  /*@optum__gray-darker*/
   }
.iconRow{
    margin:5px;
  width:100%;
}
.icongroupLabel{
  font-size:11px;
  font-family:Lato;
  font-weight:400;
  color:#888B8D; /*@optum__gray*/
  float:left;
  margin: 3px 6px 5px 5px;
  cursor:pointer;
}
}




@media screen and (max-width: 700px) {

  .flex-item-img{
  height:140px;
  width:100%;
  }

  .flex-item-img h2{
    font-size:1rem;
    line-height:10rem;
    align:center;
    margin:auto;
  }

    .flex-item-1 {
   margin:6px;
    min-width: 190px;
   max-width: 190px;
  }
      .flex-1-text-fileSize{
        display:none;
      }


}
