.nav-bar {
  display: flex;
  flex-direction: column;
}

.nav-bar__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 100px;
}

.nav-bar .link {
  width: 80%;
  padding: 5px;
  margin: 0 auto 10px auto;
  background-color: rgb(42, 95, 129);
  color: white;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, .25);
  transition: all;
  transition-duration: .5s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.linksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  transition-duration: .5s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.nav-bar .link:hover {
  background-color: rgb(240, 240, 240);
  color: rgb(42, 95, 129);
  box-shadow: none;
  transition: all;
  transition-duration: .5s;
}

#seeMore {
  margin: 10px;
  color: rgb(42, 95, 129);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#seeMore span {
  margin-left: 5px;
  display: block;
  font-size: 8pt;
  transition: all;
  transition-duration: .5s;
}

.rotate {
  transform: rotate(180deg);
}

.hidden {
  visibility: hidden!important;
  transition: all;
  transition-duration: .5s;
  animation-name: fadeOut;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
