
.widget-box {
  background: #fff;
  border: 1px solid #E0E0E0;
  float: left;
  width: 100%;
  margin: 0 0 15px 15px;
}

.sample-widget {max-width: 99%;}
.widget-box .fa-cog {
  float: right;
  color: #fff;
  margin: 11px 11px 0 0;
  font-size: 20px;
}


/* https://codepen.io/kulsakshi/pen/dJPReB */

/* Профиль студента НАЧАЛО */
.public-profile {
  position: relative;
  text-align: center;
}


 .public-profile img{
  width:15%;
  border-radius:50%;
  border:3px solid grey;
}

.public-profile input {
  position: absolute;
  top: 50%;
  margin-top: -10.5px;
  margin-left: 20px;
}

.section{
  margin-top:20px;
}
.section__heading{
  background-color:#279BE4;
  border-radius:4px;
  color:white;
  margin-top:0px;
  margin-bottom:0px;
  padding:1%;
  letter-spacing:1px;
  padding-left:2%;
}
.section__button {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: blue;
  display:flex;
  justify-content: space-between;
}
.section__button button {
  border: none;
  cursor: pointer;
  padding: 1%;
  font-size: x-large;
  background-color: #337ab7;
  color:white;
  width:33.33%;
}
.section__button button:hover {
  background-color:#286090;
}
.section__button button.active {
  background-color: #286090;
}
.tabcontent {
  display:none;
  border: 1px solid #ccc;
  border-top:none;
  border-radius:4px;
}

.section__application{
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-around;
}

.icons{
  display:inline-block;
  padding-right:2%;
  padding-left:3%;
  margin:3%;
}
.icons p{
  text-align:center;margin-right:20%;
}
#hackathon{display:block;}

.info-section a{
  text-decoration: none;
  color:white;
}
.info-section{
  background-color: #279BE4;
  border-radius: 4px;
  letter-spacing: 1px;

  margin-bottom:0;
  padding:1%;
}
.info-section__table{
  border:1px solid #ddd;
  border-radius:1%;
}
.info-section__table--data{
  border-collapse:collapse;
  width:100%;
  margin-top:0%;
}
.info-section__table--data td{
  border:0.1px  grey;
  padding:1%;
  border-radius:3%;

}
.info-section__table--data tr:nth-child(even){background-color:#fff;}
.info-section__table--data tr:hover {background-color:#E3F2FD;}
/*.menu__table__data th{
  background-color:blue;
  color:#ddd;
  padding:1%;
  font-size: 150%;
  text-align: left;
}*/
.info-section__table--data a{
  text-decoration: none;
  color:#ddd;
}

.tabcontent .buttonsApplication {
  margin: 5px;
  padding: 18px 40px;
  border: none;
  background: #279BE4;
  color: white;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}


@media only screen and (max-width: 850px){
  /*for desktop screen only*/
  .public-profile {
    display: flex;
    flex-direction: column;
  }

  .public-profile img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .public-profile input {
    position: relative;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .section__application{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
}


@media only screen and (max-width:680px){
  /* for small screen*/

  .section__application{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
}
@media only screen and (max-width: 550px){
  /* for very small screen*/

  .public-profile img{
    border:2px solid grey;
    width:25%;
  }

  .section__button button{
    font-size:100%;
    cursor:pointer;
  }
  .section__application{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .info-section__table--data td{padding:4%;}
  }

@media only screen and (max-width: 320px)
{


  .info-section__table--data{font-size:small;}
  .icons{
    display:block;
    padding-right:3%;
    padding-left:3%;
    margin-left:10%;}
  .icons p{
    font-size:small;
    margin-right: 30%;
    text-align: center;
  }
  .section__button{font-size: small;}
  .section__application{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30%;
  }
  .section__application p{margin-right: 50%;}
  .blog-badges{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
  }

  }

  input[type=text], input[type=number], select {
      width: 50%;
      height: 25px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  input[type=submit].delete-buttons {
      width: 100%;
      background-color: #D32F2F;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  input[type=submit].edit-buttons {
      width: 100%;
      background-color: #FFD600;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  input[type=submit].delete-buttons:hover {
      background-color: #D50000;
  }

  input[type=submit].edit-buttons:hover {
      background-color: #FFFF00;
  }
  /* Профиль студента КОНЕЦ */
