<link rel="stylesheet" href="/css/confirm.css">

<div class="confirm">
  <div class="confirm__container">
    <p class="confirm__text">Are you sure?</p>
    <div class="confirm__row">
      <button type="button" name="button" id="accept">Accept</button>
      <button type="button" name="button" id="cancel">Cancel</button>
    </div>
  </div>
</div>

<script>
  var cancelBtn = document.querySelector("#cancel");
  var confirmWindow = document.querySelector(".confirm");

  function onCancelBtnClick() {
    confirmWindow.classList.add("none");
  }

  cancelBtn.addEventListener("click", onCancelBtnClick);
</script>
