<link rel="stylesheet" href="/css/leftVerticalMenu.css">

<section class="nav-bar">
  <div class="nav-bar__container">
    <a class="link" href="/system_documents/Website_User_Manual.docx">User manual</a>
    <a class="link" href="/developers/">Developers</a>
    <div id="seeMore">For developers <span>&#9660;</span></div>
    <div class="linksContainer hidden">
      <a class="link" href="/api-docs/" target="_blank">API documents</a>
      <a class="link" href="/system_documents/Website_Programmer_Manual.docx">Programmer manual</a>
    </div>
  </div>
</section>

<script defer>
  var seeMore = document.querySelector("#seeMore");
  var row = seeMore.querySelector("span");
  var linksContainer = document.querySelector(".linksContainer");
  var downRow = "&#9650;";
  var upRow = "&#9660;";

  function onSeeMoreClick(elem) {
    row.classList.toggle("rotate");
    linksContainer.classList.toggle("hidden");
  }

  seeMore.addEventListener("click", onSeeMoreClick);
</script>
