<link rel="stylesheet" href="/css/leftVerticalMenu.css">

<section class="nav-bar">
  <div class="nav-bar__container">
    <a class="link" href="/system_documents/Website_User_Manual.pdf" target="blank">User manual</a>
    <a class="link" href="/developers/">Developers</a>
    <div id="seeMore">For developers <span>&#9660;</span></div>
    <div class="linksContainer hidden">
      <a class="link" href="/api-docs/" target="_blank">API documents</a>
      <a class="link" href="/system_documents/Website_Programmer_Manual.pdf" target="blank">Programmer manual</a>
    </div>
  </div>
</section>

<button type="button" name="button" id="toggleMobileMenu">&#9776;</button>
<section class="nav-bar--mobile none">
  <div class="nav-bar__container">
    <a class="link" href="/system_documents/Website_User_Manual.pdf" target="blank">User manual</a>
    <a class="link" href="/developers/">Developers</a>
    <div id="seeMoreMobile">For developers <span>&#9660;</span></div>
    <div class="linksContainer none">
      <a class="link" href="/api-docs/" target="_blank">API documents</a>
      <a class="link" href="/system_documents/Website_Programmer_Manual.pdf" target="blank">Programmer manual</a>
    </div>
  </div>
</section>

<script defer>
  var seeMore = document.querySelector("#seeMore");
  var row = seeMore.querySelector("span");
  var linksContainer = document.querySelector(".linksContainer");
  var downRow = "&#9650;";
  var upRow = "&#9660;";

  function onSeeMoreClick(elem) {
    row.classList.toggle("rotate");
    linksContainer.classList.toggle("hidden");
  }

  seeMore.addEventListener("click", onSeeMoreClick);
</script>

<script defer>
  var seeMoreMobile = document.querySelector("#seeMoreMobile");
  var row = seeMoreMobile.querySelector("span");
  var linksContainer = document.querySelectorAll(".linksContainer")[1];

  function onSeeMoreMobileClick(elem) {
    row.classList.toggle("rotate");
    linksContainer.classList.toggle("none");
  }

  seeMoreMobile.addEventListener("click", onSeeMoreMobileClick);
</script>

<script defer>
  var toggleMobileMenu = document.querySelector("#toggleMobileMenu");
  var container = document.querySelector(".nav-bar--mobile");

  function onToggleMobileMenu(elem) {
    container.classList.toggle("none");
    toggleMobileMenu.classList.toggle("toggleMobileMenu--active");
  }

  toggleMobileMenu.addEventListener("click", onToggleMobileMenu);
</script>
