<section id="sidebar">
  <div class="white-label">

  </div>
  <div id="sidebar-nav">
    <ul>
      <li class="active"><a href="/personalArea/1">Personal Area</a></li>
      <li><a href="http://app-ait.herokuapp.com/" target="_blank">Old version</a></li>
      <li><a href="/signout">Logout</a></li>
    </ul>
  </div>
</section>
