<% layout('../layout/pattern') -%>
<link rel='stylesheet' href='/css/personalArea.css' />

<div class="page">
    <%-partial('../partials/leftVerticalMenu')%>
    <div class="right-column">
        <div class="container">


        </div>
    </div>
</div>

