<link rel='stylesheet' href='/css/profileStudent.css' />
<div class="block">
    <p>Information</p>
    <form action="/addNewStudent" method="POST" class="modal__form" name="addNewStudentForm">
              <div class="photo-line">
                <div class="photo">
                </div>
                <input type="file" name="" value="" id="load-photo">
              </div>
              <label for="login">Login</label>
              <input type="email" name="login" value="" required>
              <label for="login">Name</label>
              <input type="text" name="name" value="" required>
              <label for="login">Age</label>
              <input type="number" name="age" min="5" max="100" required>
              <label for="fgender">Gender</label>
              <select name="gender" required>
                <option>Male</option>
                <option>Female</option>
                <option>Non-binary</option>
                <option>Non-applicable</option>
                <option>I prefer not say</option>
              </select>
              <div class="row">
                <button type="submit" name="button" id="updateBtn">Update</button>
                <button type="submit" name="button" id="deleteBtn">Delete</button>
              </div>
            </form>
          </div>

      <!--  -->

      <div class="block apps">
            <p>Applications</p>
            <button type="button" name="button">MoneyGame</button>
            <button type="button" name="button">AIT</button>
            <button type="button" name="button">Third</button>
      </div>


<script src="/js/profileStudentTabContent.js"></script>
<script>

var submitBtn = document.getElementById("submitBtn");
submitBtn.onclick = function () {
  var updateStudentData = {};

  updateStudentData.login =  $("input[name='login']").val();
  updateStudentData.name =  $("input[name='name']").val();
  updateStudentData.age =  $("input[name='age']").val();
  updateStudentData.gender = $("select[name='gender']").val();
  //updateStudentData.photo = $("input[name='photo']").val();
  // var fd = new FormData;
  // updateStudentData.photo = fd.append('img', $("input[name='photo']").prop('files')[0]);
  // console.log(fd.append('img', $("input[name='photo']").prop('files')[0]));

  $.ajax({
    type: 'POST',
    url: '/updateStudent/id<%=student.id%>',
    dataType: 'json',
    data:  updateStudentData,
    success: function(data) {
      alert(data.responseText);
    },
    error: function(data) {
      alert(data.responseText);
    }
  });
}
</script>
